In [1]:
import numpy as np
import pandas as pd

In [182]:
name_df = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep="\t", low_memory=False)
name_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0072308,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
...,...,...,...,...,...,...
11310226,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546"
11310227,nm9993716,Essias Loberg,\N,\N,NaN,\N
11310228,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11310229,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11310230,nm9993719,Andre Hill,\N,\N,NaN,\N

In [3]:
akas_df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep="\t", low_memory=False)
akas_df

In [129]:
basics_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t", low_memory=False)
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8370962,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8370963,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8370964,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8370965,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8370966,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [118]:
crew_df = pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep="\t", low_memory=False)
crew_df

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8370962  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8370963  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8370964  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8370965  tt9916856           nm10538645                      nm6951431
8370966  tt9916880            nm0996406            nm1482639,nm2586970

[8370967 rows x 3 columns]

In [126]:
episode_df = pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep="\t", low_memory=False)
episode_df

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
6152197  tt9916846    tt1289683            3            18
6152198  tt9916848    tt1289683            3            17
6152199  tt9916850    tt1289683            3            19
6152200  tt9916852    tt1289683            3            20
6152201  tt9916880    tt0985991            4             2

[6152202 rows x 4 columns]

In [7]:
principals_df = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep="\t", low_memory=False)
principals_df

In [117]:
ratings_df = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t", low_memory=False)
ratings_df

            tconst  averageRating  numVotes
0        tt0000001            5.7      1826
1        tt0000002            6.0       234
2        tt0000003            6.5      1583
3        tt0000004            6.1       152
4        tt0000005            6.2      2405
...            ...            ...       ...
1195680  tt9916682            5.6         5
1195681  tt9916690            6.6         5
1195682  tt9916720            5.3       141
1195683  tt9916766            7.1        17
1195684  tt9916778            7.5        31

[1195685 rows x 3 columns]

In [111]:
basics_df2 = basics_df[(basics_df['startYear'] > str(1945)) & (basics_df['titleType'] == 'movie')]
basics_df3 = basics_df2[basics_df2['startYear'] != '\\N']
basics_df4 = basics_df3[basics_df3['runtimeMinutes'] != '\\N']
basics_df5 = basics_df4[basics_df4['genres'] != '\\N']
basics_df5

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11059,tt0011216,movie,Spanish Fiesta,La fÃªte espagnole,0,2019,\N,67,Drama
15487,tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance"
16657,tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical"
21275,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,\N,56,"Action,Adventure,Western"
21712,tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,\N,100,Drama
...,...,...,...,...,...,...,...,...,...
8370730,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
8370815,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
8370856,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8370883,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8370917,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [183]:
basics_df6 = basics_df5.set_index('tconst')
ratings_df2 = ratings_df.set_index('tconst')
principals_df2 = principals_df.set_index('tconst')

In [189]:
crew_df2 = crew_df.set_index('tconst')

In [199]:
name_df2 = name_df.set_index('nconst')
name_df2

,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
nconst,,,,,
nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0072308,tt0050419"
nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
...,...,...,...,...,...
nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546"
nm9993716,Essias Loberg,\N,\N,NaN,\N
nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
nm9993718,Aayush Nair,\N,\N,cinematographer,\N
nm9993719,Andre Hill,\N,\N,NaN,\N

In [195]:
principals_df

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
47337681,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
47337682,tt9916880,5,nm0996406,director,principal director,\N
47337683,tt9916880,6,nm1482639,writer,\N,\N
47337684,tt9916880,7,nm2586970,writer,books,\N
47337685,tt9916880,8,nm1594058,producer,producer,\N

In [184]:
basics_df6

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0011216,movie,Spanish Fiesta,La fÃªte espagnole,0,2019,\N,67,Drama
tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance"
tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical"
tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,\N,56,"Action,Adventure,Western"
tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,\N,100,Drama
...,...,...,...,...,...,...,...,...
tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [185]:
basics_df7 = pd.merge(basics_df6, ratings_df2, how='inner', left_index=True, right_index=True)

In [186]:
basics_df7

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0011216,movie,Spanish Fiesta,La fÃªte espagnole,0,2019,\N,67,Drama,6.9,29
tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance",6.0,25
tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical",5.6,19
tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,\N,56,"Action,Adventure,Western",6.0,42
tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,\N,100,Drama,5.3,53
...,...,...,...,...,...,...,...,...,...,...
tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama,7.2,5
tt9916190,movie,Safeguard,Safeguard,0,2020,\N,90,"Action,Adventure,Thriller",3.5,225
tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,\N,84,Thriller,5.8,1194
tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,4000
tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,6

In [190]:
basics_df8 = pd.merge(basics_df7, crew_df2, how='inner', left_index=True, right_index=True)

In [191]:
basics_df8

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
tconst,,,,,,,,,,,,
tt0011216,movie,Spanish Fiesta,La fÃªte espagnole,0,2019,\N,67,Drama,6.9,29,nm0241273,nm0217526
tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance",6.0,25,nm0529960,"nm0529960,nm1597742"
tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical",5.6,19,nm0136068,\N
tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,\N,56,"Action,Adventure,Western",6.0,42,nm0289297,nm0119378
tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,\N,100,Drama,5.3,53,nm0871077,"nm0871077,nm0872689"
...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama,7.2,5,nm5412267,"nm5412267,nm6743460,nm3245789"
tt9916190,movie,Safeguard,Safeguard,0,2020,\N,90,"Action,Adventure,Thriller",3.5,225,nm7308376,nm7308376
tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,\N,84,Thriller,5.8,1194,nm1480867,"nm1480867,nm10538402"
tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,4000,nm1893148,"nm1893148,nm3471432"
tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,6,nm4457074,"nm4843252,nm4900525,nm2679404"

In [197]:
basics_df9 = basics_df8.set_index('directors')

In [198]:
basics_df9

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,writers
directors,,,,,,,,,,,
nm0241273,movie,Spanish Fiesta,La fÃªte espagnole,0,2019,\N,67,Drama,6.9,29,nm0217526
nm0529960,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance",6.0,25,"nm0529960,nm1597742"
nm0136068,movie,Frivolinas,Frivolinas,0,2014,\N,80,"Comedy,Musical",5.6,19,\N
nm0289297,movie,Arizona Territory,Arizona Territory,0,1950,\N,56,"Action,Adventure,Western",6.0,42,nm0119378
nm0871077,movie,Lebbra bianca,Lebbra bianca,0,1951,\N,100,Drama,5.3,53,"nm0871077,nm0872689"
...,...,...,...,...,...,...,...,...,...,...,...
nm5412267,movie,The Rehearsal,O Ensaio,0,2019,\N,51,Drama,7.2,5,"nm5412267,nm6743460,nm3245789"
nm7308376,movie,Safeguard,Safeguard,0,2020,\N,90,"Action,Adventure,Thriller",3.5,225,nm7308376
nm1480867,movie,Il talento del calabrone,Il talento del calabrone,0,2020,\N,84,Thriller,5.8,1194,"nm1480867,nm10538402"
nm1893148,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,4000,"nm1893148,nm3471432"
nm4457074,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,6,"nm4843252,nm4900525,nm2679404"

In [202]:
name_df2.index.names = ['directors']
name_df2

,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
directors,,,,,
nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0072308,tt0050419"
nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
...,...,...,...,...,...
nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546"
nm9993716,Essias Loberg,\N,\N,NaN,\N
nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
nm9993718,Aayush Nair,\N,\N,cinematographer,\N
nm9993719,Andre Hill,\N,\N,NaN,\N

In [203]:
basics_df10 = pd.merge(basics_df9, name_df2, how='inner', left_index=True, right_index=True)
basics_df10

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
directors,,,,,,,,,,,,,,,,
nm0000005,movie,It Rains on Our Love,Det regnar pÃ¥ vÃ¥r kÃ¤rlek,0,1946,\N,95,"Drama,Romance",6.6,1441,"nm0102602,nm0340471,nm0000005",Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
nm0000005,movie,Crisis,Kris,0,1946,\N,93,"Drama,Romance",6.4,2891,"nm0000005,nm0279027",Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
nm0000005,movie,A Ship to India,Skepp till India land,0,1947,\N,98,Drama,6.4,1710,"nm0000005,nm0845496",Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
nm0000005,movie,Port of Call,Hamnstad,0,1948,\N,100,Drama,6.6,2337,"nm0000005,nm0529508",Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
nm0000005,movie,Music in Darkness,Musik i mÃ¶rker,0,1948,\N,87,Drama,6.4,1272,nm0249647,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9991166,movie,Public Figure,Public Figure,0,2019,\N,66,Documentary,4.3,84,\N,Brian Corso,\N,\N,"producer,director,executive","tt10047438,tt10832454,tt12803088,tt8738176"
nm9992757,movie,Star-Crossed: The Film,Star-Crossed: The Film,0,2021,\N,48,Music,6.5,146,\N,Bardia Zeinali,\N,\N,director,"tt8727172,tt11416506,tt15285682,tt9227188"
nm9992763,movie,"SÃ­, Mi Amor","SÃ­ mi amor, la pelÃ­cula",0,2020,\N,107,Comedy,4.1,147,"nm8854901,nm9992763",Pedro Flores Maldonado,\N,\N,"director,cinematographer","tt8742174,tt11734696"
nm9992900,movie,White Spot,White Spot,0,2020,\N,92,"Adventure,Documentary,Drama",5.5,17,"nm9992900,nm9992899",Tin Brendel,\N,\N,"writer,director,cinematographer",\N
nm9992905,movie,Merata: How Mom Decolonized the Screen,Merata: How Mum Decolonised the Screen,0,2018,\N,89,"Biography,Documentary",7.0,135,\N,Hepi Mita,\N,\N,"director,camera_department","tt8742574,tt1504286"

In [210]:
basics_df10.drop('knownForTitles', axis=1, inplace=True)
basics_df10

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes,primaryName
directors,,,,,,,,,
nm0000005,movie,It Rains on Our Love,Det regnar pÃ¥ vÃ¥r kÃ¤rlek,0,1946,"Drama,Romance",6.6,1441,Ingmar Bergman
nm0000005,movie,Crisis,Kris,0,1946,"Drama,Romance",6.4,2891,Ingmar Bergman
nm0000005,movie,A Ship to India,Skepp till India land,0,1947,Drama,6.4,1710,Ingmar Bergman
nm0000005,movie,Port of Call,Hamnstad,0,1948,Drama,6.6,2337,Ingmar Bergman
nm0000005,movie,Music in Darkness,Musik i mÃ¶rker,0,1948,Drama,6.4,1272,Ingmar Bergman
...,...,...,...,...,...,...,...,...,...
nm9991166,movie,Public Figure,Public Figure,0,2019,Documentary,4.3,84,Brian Corso
nm9992757,movie,Star-Crossed: The Film,Star-Crossed: The Film,0,2021,Music,6.5,146,Bardia Zeinali
nm9992763,movie,"SÃ­, Mi Amor","SÃ­ mi amor, la pelÃ­cula",0,2020,Comedy,4.1,147,Pedro Flores Maldonado
nm9992900,movie,White Spot,White Spot,0,2020,"Adventure,Documentary,Drama",5.5,17,Tin Brendel
nm9992905,movie,Merata: How Mom Decolonized the Screen,Merata: How Mum Decolonised the Screen,0,2018,"Biography,Documentary",7.0,135,Hepi Mita

In [213]:
basics_df10.tail(50)

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes,primaryName
directors,,,,,,,,,
nm9960711,movie,Attack of the Clones Special Edition: Fan Film,Attack of the Clones Special Edition: Fan Film,0,2018,Sci-Fi,3.8,15,Andrew Duncanson
nm9961040,movie,Nai Nabhannu La 3,Nai Nabhannu La 3,0,2015,Romance,4.6,5,Muskan Dhakal
nm9962746,movie,Samhain: A Halloween Horror Movie,Samhain: A Halloween Horror Movie,0,2018,Horror,2.5,32,Joe Gray
nm9963675,movie,This Little Land of Mines,This Little Land of Mines,0,2019,"Documentary,Drama,News",7.7,17,Erin McGoff
nm9963860,movie,*121#,*121#,0,2018,Thriller,6.5,7,V. Anand
nm9966560,movie,You Will Be with Us in Paradise,You Will Be With Us In Paradise,0,2019,Documentary,9.0,7,Isaac Lock
nm9967123,movie,Alienated,Alienated,0,2019,Drama,4.2,102,Joshua David
nm9967224,movie,Abbai class ammayi mass,Abbai class ammayi mass,0,2013,"Drama,Horror",5.6,12,Srinivas Koneti
nm9969870,movie,Make Me A Leader,Make Me A Leader,0,2018,Documentary,8.7,26,Silvia Damiano
nm9970487,movie,Boutchou,Boutchou,0,2020,Comedy,4.2,144,Adrien Piquet-Gauthier
nm9970965,movie,Kananga,Kananga,0,2018,Documentary,8.8,28,Pavlos Tripodakis
nm9971230,movie,Wognum,Wognum,0,2018,Documentary,8.5,71,Tim Bary
nm9972300,movie,Non amarmi,Non amarmi,0,2020,"Drama,Thriller",3.9,7,Marco Cercaci
nm9973123,movie,Anywhere Is Here,Anywhere Is Here,0,2019,Drama,4.1,26,Ian Lettire
nm9973815,movie,Drama Meets Vengeance,Drama Meets Vengeance,0,2019,"Comedy,Drama",7.4,7,Sally Mueller
nm9973932,movie,Sumergida,Sumergida,0,2019,"Drama,Thriller",6.5,19,AndrÃ©s Finat
nm9974129,movie,Skynd Deg Sakte (Hurry Slowly),Skynd Deg Sakte (Hurry Slowly),0,2018,Drama,7.3,20,Anders Emblem
nm9975647,movie,Impromptu,Impromptu,0,2019,Drama,9.2,5,Shane Fairbanks
nm9975797,movie,The Gown,The Gown,0,2019,"Horror,Thriller",2.0,105,Alan Casper
nm9976768,movie,SkarLans,SkarLans,0,2013,Comedy,3.0,9,Pawel Bilski
nm9977077,movie,Runt,Runt,0,2020,"Drama,Thriller",8.1,79,William Coakley
nm9977799,movie,Dance sports Girls,Dance sports Girls,0,2017,Documentary,8.1,13,Lee Seung-Moon
nm9977844,movie,Ishq My Religion,Ishq My Religion,0,2019,"Adventure,Romance",7.9,17,Gurdeep Dhillon
nm9978107,movie,Straightman,Straightman,0,1999,Drama,4.6,234,Ben Berkowitz
nm9978107,movie,Polish Bar,Polish Bar,0,2010,Drama,7.3,68,Ben Berkowitz
nm9978337,movie,3rd EYE,3rd EYE,0,2019,Horror,6.3,7,Sanjay Niranjan
nm9979800,movie,Key Lime Voodoo,Key Lime Voodoo,0,2020,"Drama,Horror,Thriller",4.3,65,Jo Blanco
nm9980615,movie,Pure Land,Pure Land,0,2018,Drama,7.0,6,Zhenyu Sun
nm9981293,movie,Makoki: Un Amor de Muerte,Makoki: Un Amor de Muerte,0,2019,"Action,Comedy,Romance",3.5,50,Esteban Diaz Baena
nm9981565,movie,Pocket Full of Game,Pocket Full of Game,0,2020,Action,6.3,72,Deborah Cardona
nm9982663,movie,Eghantham,Eghantham,0,2018,Drama,8.8,654,Arsel Arumugam
nm9983175,movie,Saavi,Saavi,0,1985,Thriller,5.6,13,Karthik Raghunath
nm9984798,movie,Without Bound - Perspectives on Mobile Living,Without Bound - Perspectives on Mobile Living,0,2014,Documentary,7.8,16,Michael Tubbs
nm9985362,movie,Opeka,Opeka,0,2020,Documentary,6.7,7,Cam Cowan
nm9985362,movie,Madagasikara,Madagasikara,0,2018,Documentary,8.8,7,Cam Cowan
nm9986784,movie,Hello Carbot the Movie: The Cretaceous Period,Hello Carbot the Movie: The Cretaceous Period,0,2018,"Adventure,Animation,Sci-Fi",6.5,15,Shinkyu Choi
nm9987004,movie,The Erotic Artist,The Erotic Artist,1,1971,Adult,4.9,14,Tom Parker
nm9987215,movie,Toren,Toren,0,2018,Drama,9.0,17,Nawzad Shekhany
nm9987255,movie,Things as They Are,Things as They Are,0,2018,"Drama,Thriller",4.7,10,Amedeo Pesce
nm9987477,movie,Collodion: The Process of Preservation,Collodion: The Process of Preservation,0,2020,Documentary,7.5,418,Eric Overton
nm9987600,movie,Princesa,Princesa,0,2021,Documentary,7.8,8,Stefania Muresu
nm9987728,movie,Lijenstina,Lijenstina,0,2018,Drama,7.0,44,Aleksa Stefan Radunovic
nm9989001,movie,Me Too - Hidden Truth,Mitu - Sumgyeojin jinsil,0,2018,Drama,5.2,6,Hyun-jin Ma
nm9989277,movie,Comfortless,Comfortless,0,2018,Thriller,7.6,5,Ryan Manley
nm9990679,movie,Freshman Year,Freshman Year,0,2019,Drama,5.1,192,Jude Okwudiafor Johnson
nm9991166,movie,Public Figure,Public Figure,0,2019,Documentary,4.3,84,Brian Corso
nm9992757,movie,Star-Crossed: The Film,Star-Crossed: The Film,0,2021,Music,6.5,146,Bardia Zeinali
nm9992763,movie,"SÃ­, Mi Amor","SÃ­ mi amor, la pelÃ­cula",0,2020,Comedy,4.1,147,Pedro Flores Maldonado
nm9992900,movie,White Spot,White Spot,0,2020,"Adventure,Documentary,Drama",5.5,17,Tin Brendel
nm9992905,movie,Merata: How Mom Decolonized the Screen,Merata: How Mum Decolonised the Screen,0,2018,"Biography,Documentary",7.0,135,Hepi Mita

In [187]:
akas_df2 = akas_df[akas_df['language'] == 'fr']

In [188]:
akas_df2

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
1640,tt0000439,12,Le vol du grand rapide,CA,fr,\N,\N,0
7743,tt0002637,2,Arizona,CA,fr,imdbDisplay,\N,0
8165,tt0002801,3,Le diamant noir,BE,fr,imdbDisplay,\N,0
8168,tt0002801,6,La pie noire,BE,fr,working,\N,0
8433,tt0002898,4,Germinal,CA,fr,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
29520540,tt9916844,4,Ã‰pisode #3.15,FR,fr,\N,\N,0
29520544,tt9916846,1,Ã‰pisode #3.18,FR,fr,\N,\N,0
29520551,tt9916848,1,Ã‰pisode #3.17,FR,fr,\N,\N,0
29520560,tt9916850,3,Ã‰pisode #3.19,FR,fr,\N,\N,0
29520566,tt9916852,2,Ã‰pisode #3.20,FR,fr,\N,\N,0

In [181]:
akas_df2.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
114,tt0000012,23,The Arrival of a Train,XWW,en,imdbDisplay,\N,0
117,tt0000012,26,The Arrival of a Train,XEU,en,imdbDisplay,\N,0
126,tt0000012,9,The Arrival of a Train at La Ciotat,XWW,en,alternative,\N,0
127,tt0000013,10,The Photographical Congress Arrives in Lyon,XWW,en,imdbDisplay,\N,0
173,tt0000016,1,Boat Leaving the Port,XWW,en,imdbDisplay,\N,0
205,tt0000023,11,A Dip in the Sea,XWW,en,alternative,\N,0
213,tt0000023,4,The Sea,XWW,en,imdbDisplay,\N,0
247,tt0000027,8,Cordeliers' Square in Lyon,XWW,en,imdbDisplay,\N,0
252,tt0000028,5,Fishing for Goldfish,XWW,en,imdbDisplay,\N,0
274,tt0000029,5,Baby's Meal,XWW,en,imdbDisplay,\N,0
289,tt0000031,2,Jumping the Blanket,XWW,en,imdbDisplay,\N,0
306,tt0000033,4,Horse Trick Riders,XWW,en,imdbDisplay,\N,0
314,tt0000034,3,Arrival of a Train at Vincennes Station,XWW,en,alternative,\N,0
317,tt0000035,3,The Sprinkler Sprinkled,XWW,en,alternative,\N,0
435,tt0000070,8,Demolition of a Wall,XWW,en,imdbDisplay,\N,0
505,tt0000089,7,Leaving Jerusalem by Railway,XWW,en,\N,\N,0
514,tt0000091,14,The Devil's Castle,XEU,en,\N,\N,0
601,tt0000117,2,Workers Exit from the Confianca Shirt Factory,XWW,en,\N,literal English title,0
641,tt0000131,10,A Terrible Night,XWW,en,\N,\N,0
656,tt0000132,4,Card Party,XWW,en,imdbDisplay,\N,0
683,tt0000140,4,Bathing in a Stream,XWW,en,dvd,\N,0
688,tt0000143,1,The Burglars,XWW,en,dvd,\N,0
694,tt0000144,3,At the Hypnotist's,XWW,en,dvd,\N,0
733,tt0000156,3,A Badly Managed Hotel,XWW,en,imdbDisplay,\N,0
743,tt0000159,4,The Cabinet of Mephistopheles,XWW,en,\N,\N,0
754,tt0000162,6,Niagara Falls,XWW,en,\N,\N,0
755,tt0000162,7,The Niagara Waterfall,XWW,en,\N,\N,0
760,tt0000164,1,The Fisherman at the Stream,XWW,en,dvd,\N,0
786,tt0000174,2,The Exhibition Sausage Seller and the Billposter,XWW,en,\N,literal English title,0
882,tt0000211,12,A Trip to the Moon,US,en,\N,\N,0
883,tt0000211,13,The Moon at One Meter,XWW,en,imdbDisplay,\N,0
891,tt0000211,3,The Moon at Arm's Length,XWW,en,\N,\N,0
902,tt0000213,3,Disappearing Act,XWW,en,\N,literal English title,0
928,tt0000222,1,At the Club,XWW,en,alternative,\N,0
966,tt0000231,3,Portuguese Railway Train,XWW,en,\N,review title,0
980,tt0000235,3,The Pillar of Fire,XWW,en,\N,\N,0
1090,tt0000269,2,"Army Life; or, How Soldiers Are Made: Mounted ...",GB,en,\N,\N,0
1091,tt0000269,3,"Army Life; or, How Soldiers Are Made: Mounted ...",XWW,en,imdbDisplay,\N,0
1172,tt0000299,2,Pierrette's Escapades,XWW,en,dvd,\N,0
1235,tt0000319,1,Maple Viewing,XWW,en,\N,\N,0
1238,tt0000319,4,Maple Leaf Viewing,XWW,en,\N,\N,0
1344,tt0000359,11,The India Rubber Head,XWW,en,\N,\N,0
1387,tt0000369,4,A Road for Children's Bicycles in Barcelona,XWW,en,imdbDisplay,\N,0
1403,tt0000373,5,The Seven Castles of the Devil,XWW,en,\N,\N,0
1506,tt0000409,6,Midwife to the Upper Classes,XWW,en,\N,\N,0
1531,tt0000415,4,A Peculiar Cabinet,XWW,en,\N,\N,0
1558,tt0000417,30,A Trip to the Moon,XEU,en,imdbDisplay,\N,0
1560,tt0000417,32,Le Voyage Dans La Lune,IN,en,imdbDisplay,\N,0
1561,tt0000417,33,A Trip to the Moon,CA,en,imdbDisplay,\N,0
1572,tt0000417,43,A Trip to the Moon,XWW,en,imdbDisplay,\N,0

In [214]:
basics_df10

,titleType,primaryTitle,originalTitle,isAdult,startYear,genres,averageRating,numVotes,primaryName
directors,,,,,,,,,
nm0000005,movie,It Rains on Our Love,Det regnar pÃ¥ vÃ¥r kÃ¤rlek,0,1946,"Drama,Romance",6.6,1441,Ingmar Bergman
nm0000005,movie,Crisis,Kris,0,1946,"Drama,Romance",6.4,2891,Ingmar Bergman
nm0000005,movie,A Ship to India,Skepp till India land,0,1947,Drama,6.4,1710,Ingmar Bergman
nm0000005,movie,Port of Call,Hamnstad,0,1948,Drama,6.6,2337,Ingmar Bergman
nm0000005,movie,Music in Darkness,Musik i mÃ¶rker,0,1948,Drama,6.4,1272,Ingmar Bergman
...,...,...,...,...,...,...,...,...,...
nm9991166,movie,Public Figure,Public Figure,0,2019,Documentary,4.3,84,Brian Corso
nm9992757,movie,Star-Crossed: The Film,Star-Crossed: The Film,0,2021,Music,6.5,146,Bardia Zeinali
nm9992763,movie,"SÃ­, Mi Amor","SÃ­ mi amor, la pelÃ­cula",0,2020,Comedy,4.1,147,Pedro Flores Maldonado
nm9992900,movie,White Spot,White Spot,0,2020,"Adventure,Documentary,Drama",5.5,17,Tin Brendel
nm9992905,movie,Merata: How Mom Decolonized the Screen,Merata: How Mum Decolonised the Screen,0,2018,"Biography,Documentary",7.0,135,Hepi Mita